#Banner {
  position            : relative;
  background          : #fcfcfc;
  height              : 100%;
  width               : 35vw;
  margin              : 0;
}

  #Banner div {
    position          : absolute;
    top               : 0;
    left              : 0;
    margin            : 0;
    padding           : 2rem;
    width             : 100%;
    height            : 100%;
    z-index           : 5;
    background        : #dc0f17;
    clip-path         : polygon(0% 0%, 100% 0%, 20% 100%, 0% 100%);
    color             : #fcfcfc;
    text-shadow       : #40000070 2px 2px; 
    text-align        : center;
  }

    #Banner #Mini-Tomatin {
      position        : absolute;
      bottom          : 30px;
      left            : 10px;
      z-index         : 50;
    }

#Settings {
  width               : 100%;
  height              : 100%;
  display             : flex;
  justify-content     : center;
  align-items         : center;
  padding             : 1.5rem;
  overflow            : hidden;
}

  #Customize {
    position          : relative;
    background        : #fcfcfc;
    color             : #400000;
    padding           : 1rem 1rem 1rem 0;
    height            : 100%;
    width             : 100%;
    overflow          : hidden;
  }

  #Customize div.settings-content {
    height            : 100%;
    width             : 100%;
    text-align        : center;
    overflow-y        : scroll;
    padding-right     : 30px;
    box-sizing        : content-box;
    font-family       : 'PT Sans Narrow', sans-serif;
    display           : flex;
    flex-direction    : column;
    justify-content   : center; 
  }

    #Settings .time-customizers {
      width           : 100%;
      margin          : 1.5rem 0;
      display         : flex;
      justify-content : center;
      align-items     : center;
    }

    #Settings .time-customizers .setting-desc {
      text-align      : justify;
      width           : 100%;
      padding         : 0 1.4rem 0 0;
    }

    #Settings .time-customizers .setting-desc h3 {
      font-size       : 2.4rem;
      border-bottom   : 1px solid #400000;
      padding         : 0 5rem .4rem 1.4rem;
      width           : 100%;
    }

    #Settings .time-customizers .setting-desc p {
      padding         : 0.5rem 0 0.5rem 1.4rem;
      font-size       : 2rem; 
    }

    #Settings .time-customizers .buttons {
      display         : flex;
    }

    #Settings .time-customizers .time-values {
      width           : 8rem;
      padding         : 1rem 0;
      background      : #ffffff;
      border          : 1px solid #400000;
      color           : #400000;
      font-weight     : normal;
      font-size       : 2rem; 
    }

  #Settings h1 {
    font-size         : 5rem;
    margin            : 1rem;
    text-align        : left;
  }

  #Settings button {
    font-size         : 2rem;
    color             : #dc0f17;
    display           : inline;
    outline           : none;
    transition        : color 300ms, background 300ms;
  }

    #Settings button:hover {
      color           : #4d9e45;
    }

  #Settings #save-settings {
    align-self        : center;
    width             : 50%;
    padding           : 1rem 0;
    background        : #dc0f17;
    color             : #fcfcfc;
  }

  #Settings #save-settings:hover {
    background        : #4d9e45;
  }

@media only screen and ( max-width: 850px ) {
  #Settings h1 {
    font-size         : 3rem;
  }

  #Settings .time-customizers .setting-desc h3 {
    font-size         : 1.8rem;
  }

  #Settings .time-customizers .setting-desc p {
    font-size         : 1.6rem; 
  }
}

@media only screen and ( max-width: 650px ) {
  #Banner {
    display           : none;
  }

  #Customize {
    padding           : 0 0 0 1.5rem;
    overflow-x        : hidden;
    overflow-y        : scroll;
  }

  #Customize .settings-content {
    height            : fit-content !important;
    min-height        : 100% !important; 
    overflow          : hidden !important;
  }

  #Settings h1 {
    margin-top        : 3rem;
  }

  #Settings .time-customizers {
    flex-direction    : column;
  }

  #Settings .time-customizers .setting-desc h3 {
    padding-left      : 0;
  }

  #Settings .time-customizers .setting-desc p {
    padding-left      : 0;
  }

  #Settings .time-customizers .buttons {
    padding-top       : 1.5rem;
  }

  #Settings #save-settings {
    margin-bottom    : 3rem;
  }
}

@media only screen and ( max-height: 450px ) {

}